[Unit]
Description=updater
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/updater
ExecStart=/opt/updater/updater.mjs
EnvironmentFile=/opt/updater/.env

[Install]
WantedBy=multi-user.target
